<!DOCTYPE html>
<html>
    <head>
        <%- include("./partials/header.ejs") %>
        <%- include("./css/aboutStyle.ejs") %>
    </head>
    <body>
        <%- include("./partials/navBar.ejs") %>
        <div class="about">
            <p class="about__title">About Jack Do</p>
            <p class="about__text">I am a student with a passion for creating beautiful and functional websites.</p>
            <div class="social-list">
                <a href="https://instagram.com/jackdo1012" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="https://github.com/jackdo1012" target="_blank"><i class="fab fa-github"></i></a>
                <a href="https://twitter.com/jackdo1012" target="_blank"><i class="fab fa-twitter"></i></a>
                <a href="https://facebook.com/jackdo1012" target="_blank"><i class="fab fa-facebook"></i></a>
                <a href="mailto:dominhtrijack@gmail.com" target="_blank"><i class="fas fa-envelope"></i></a>
            </div>
        </div>
    </body>
</html>
