<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Jack Do's Blog</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Jack Do's Blog">
<link rel="icon" type="image/png" href="/img/avatar.png" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Open Sans', sans-serif;
    }
    :root {
        --dark-page-bg: #0B0C10;
        --dark-nav-bg: #1F2833;
        --dark-main-text: #C5C6C7;
        --dark-highlight-text: #66FCF1;
        --dark-pagination-border: #3E4144;
        --dark-pagination-hover: #404142;
        --nav-width: 25vw;
        --page-width: 75vw;
    }
</style>
