<style>
    .navbar {
        background-color: var(--dark-nav-bg);
        color: var(--dark-main-text);
        position: fixed;
        width: var(--nav-width);
        height: 100vh;
        user-select: none;
        transform: translateX(0);
        transition: transform 0.3s ease-in-out;
    }
    .navbar__name {
        width: calc(var(--nav-width) / 3);
        margin: 1rem calc(var(--nav-width) / 3);
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        justify-content: center;
    }
    .navbar__name a img {
        width: calc(var(--nav-width) / 3);
        height: calc(var(--nav-width) / 3);
        object-fit: cover;
        border-radius: 50%;
    }
    .navbar__name span {
        font-size: 1.25rem;
        font-weight: bold;
        text-align: center;
    }
    
    .navbar__list {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: var(--nav-width);
        margin: 0;
        padding: 0;
        position: relative;
    }
    .navbar__list--item {
        padding: 1rem;
        text-decoration: none;
        color: var(--dark-main-text);
        width: 100%;
        text-align: center;
    }
    .navbar__list--item:visited {
        color: var(--dark-main-text);
    }
    .current {
        visibility: hidden;
        right: 0;
        position: absolute;
        width: 0.2rem;
        height: calc(100% / 3 - 1rem);
        background-color: var(--dark-highlight-text);
        transition: top 0.2s ease-in-out;
    }

    .navbar__social {
        position: absolute;
        bottom: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: var(--nav-width);
    }
    .navbar__social a {
        color: var(--dark-main-text);
    }
    .navbar__social a:visited {
        color: var(--dark-main-text);
    }
    .hamburger {
        display: none;
        visibility: hidden;
        position: relative;
        width: 2rem;
        height: 2rem;
    }
    .hamburger i {
        position: absolute;
        inset: 0;
    }
    .hamburger i::before {
        font-size: 2rem;
    }
    @media screen and (max-width: 480px) {
        .navbar {
            z-index: 10;
            transform: translateX(-100%);
            width: 40vw;
        }
        .navbar__name {
            width: calc(40vw / 3);
            margin: 1rem calc(40vw / 3);
        }
        .navbar__name a img {
            width: calc(40vw / 3);
            height: calc(40vw / 3);
        }
        
        .navbar__list {
            width: 40vw;
        }
        .navbar__social {
            width: 40vw;
        }
        .hamburger {
            position: fixed;
            display: block;
            visibility: visible;
            top: 5vw;
            right: calc((5vw + 2rem) * -1);
        }
    }
</style>
<div class="navbar">
    <div class="navbar__name">
        <a href="/">
            <img src="/img/avatar.png" />
        </a>
        <span>Jack Do</span>
    </div>
    <div class="navbar__list">
        <a href="/" class="navbar__list--item">Home</a>
        <a href="/categories" class="navbar__list--item">Categories</a>
        <a href="https://jackdo1012.tk" target="_blank" class="navbar__list--item">About</a>
        <div class="current"></div>
    </div>
    <div class="navbar__social">
        <a href="https://github.com/jackdo1012" target="_blank"><i class="fab fa-github"></i></a>
        <a href="https://twitter.com/jackdo1012" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="https://facebook.com/jackdo1012" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="mailto:dominhtrijack@gmail.com" target="_blank"><i class="fas fa-envelope"></i></a>
    </div>
    <div class="hamburger"><i class="fas fa-bars"></i></div>
    <script>
        const root = document.querySelector(":root")
        let navStatus = false // false = close, true = open
        document.querySelector(".hamburger").onclick = function () {
            if (navStatus) {
                document.querySelector(".navbar").style.transform = "translateX(-100%)"
                root.style.setProperty("--nav-width", "0")
            } else {
                document.querySelector(".navbar").style.transform = "translateX(0)"
                root.style.setProperty("--nav-width", "40vw")
            }
            navStatus = !navStatus
        }
        let dividedBy
        if ("<%= here %>" !== "") {
            const allNavItem = document.querySelectorAll(".navbar__list--item")
            allNavItem.forEach((item, index) => {
                if (item.innerHTML.toLowerCase() === "<%= here %>") {
                    dividedBy = index
                }
            })
            document.querySelector(".current").style.visibility = "visible"
            document.querySelector(".current").style.top = `calc(100% / 3 * ${dividedBy} + 0.5rem)`
        }
        document.querySelectorAll(".navbar__list--item").forEach(each => {
            each.onmouseover = function () {
                document.querySelector(".current").style.top = `calc(100% / 3 * ${[...each.parentNode.children].indexOf(each)} + 0.5rem)`
                document.querySelector(".current").style.visibility = "visible"
            }
        })
        document.querySelectorAll(".navbar__list--item").forEach(each => {
            each.onmouseout = function () {
                if ("<%= here %>" === "") {
                    document.querySelector(".current").style.top = null
                    document.querySelector(".current").style.visibility = "hidden"
                } else {
                    document.querySelector(".current").style.top = `calc(100% / 3 * ${dividedBy} + 0.5rem)`
                }
            }
        })
    </script>
</div>
